*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background: #fff;
}
.img ul li img{
    width: 200px;
}
.img ul li{
    position: absolute;
}
.img ul li:nth-child(1){
    top: 100px;
}
.img ul li:nth-child(2){
    position: absolute;
    top: 320px;
    left: 360px;
}
.img ul li:nth-child(3){
    position: absolute;
    top: 200px;
    left: 380px;
    top: 120px;
}
.img ul li:nth-child(4){
    position: absolute;
    top: 260px;
    left: 268px;
    top: 170px;
}
.img ul li:nth-child(5){
    position: absolute;
    top: 180px;
    left: 240px;
    top: 230px;
}


