*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background: #fff;
}
.img ul li img{
    width: 372px;
}
.img ul li{
    position: absolute;
}
.img ul li:nth-child(1){
    top: 304px;
}
.img ul li:nth-child(2){
    position: absolute;
    top: 1000px;
    left: 360px;
}
.img ul li:nth-child(3){
    position: absolute;
    top: 1408px;
    left: 500px;
}
.img ul li:nth-child(4){
    position: absolute;
    top: 348px;
    left: 608px;
}
.img ul li:nth-child(5){
    position: absolute;
    top: 1077px;
    left: 11px;
}


